
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900');

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

@import url('https://fonts.googleapis.com/css?family=Alegreya:400,500,700,800,900');

@import url('https://fonts.googleapis.com/css?family=Pacifico');

@import url('https://fonts.googleapis.com/css?family=Tangerine:400,700');

/*	--------------

	font-family: 'Playfair Display', serif;
	
	font-family: 'Lato', sans-serif;
	
	font-family: 'Alegreya', serif;
	
	font-family: 'Pacifico', cursive;
	
	font-family: 'Tangerine', cursive;
	
-------------	*/











